$f:'Lato', sans-serif;

.Navbar {
  height: 100px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;
  display: flex;
  max-width: 1400px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  .Navbar__logo{
    font-family: 'Damion', cursive;
    font-size: 50px;
    color: white;
    margin: 0 0 0 20px;
  }
  .Navbar__menu {
    display: flex;
    margin: 0 20px 0 0;
    max-width: 550px;
    width: 100%;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    .Navbar__menu__item {
      width: 100%;
      list-style: none;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $f;
      color: white;
      font-size: 18px;
      padding: 20px 0 0 0;
      border-bottom-left-radius: 10%;
      border-bottom-right-radius: 10%;
      cursor: pointer;
    }
  }
}