$f:'Lato', sans-serif;


.Home {
  position: relative;
  background-image: url(../../img/bg1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .Home__slide{
      max-width: 840px;
      width: 100%;
      background-color: rgb(255, 255, 255, 0.3);
    .Home__slide__item{
      display: flex;
      align-items: center;
      justify-content: space-around;
      h3 {
        max-width: 370px;
        width: 100%;
        color: #74C7D5;
        font-size: 60px;
        font-family: $f;
        font-weight: 100;
        text-align: right;
        line-height: 50px;
      }
      span {
        font-size: 129px;
        font-weight: 900;
        font-family: $f;
        color: #74C7D5;
      }
    }
  }
} 